<% layout('/layouts/boilerplate') %>


  <div class="container mt-5">
  <div class="row mb-5">

    <form class="needs-validation" action="/campgrounds/<%= campground._id %>?_method=put" method="post"
      enctype="multipart/form-data" novalidate>
      <div class="col-6 offset-3">

        <h1 class="mb-3">Update Campground</h1>

        <div class="mb-3">
          <label for="tit" class="form-label">Title:</label>
          <input class="form-control " type="text" placeholder="Title" name="campground[title]" id="tit"
            value="<%= campground.title %>" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="loc">Location:</label>
          <input class="form-control " type="text" placeholder="Location" name="campground[location]" id="loc"
            value=" <%= campground.location %>" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="mb-3">
          <label for="price">Price:</label>
          <div class="input-group ">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input placeholder=".00" id="price" name="campground[price]" type="text" class="form-control"
              value="<%= campground.price %>" required>
          </div>
        </div>

        <label class="form-label" for="dscr">Description:</label>
        <textarea rows="5" class="form-control mb-3" type="text" placeholder="Description"
          name="campground[description]" id="dscr" required>
          <%= campground.description %> </textarea>

        <div class="mb-4">
          <label for="name" class="form-label">Add more images:</label>
          <input class="form-control" type="file" id="name" name="image" multiple>
        </div>

        <div class="mb-4 d-flex flex-column">
          <% campground.images.forEach((image, i)=> {%>

            <img class="img-thumbnail c-thumbnail-images" src="<%= image.thnail %> " alt="">
            <div class="form-check-inline">
              <input type="checkbox" id="image[<%= i %>]" name="deleteImages[]" value="<%= image.filename%>">
              <label for="image[<%= i %>]">Delete?</label>
            </div>

            <% }); %>
        </div>

        <button class="btn btn-dark mx-auto" style="width: 200px;">Update</button>
    </form>
  </div>

  </div>

</div>